h1 {
  color:rgba(5, 65, 5, 0.829);
  font-weight: 700;
  font-size: 90px;
  font-style:italic;
  text-align:center;
  list-style-image:;
  
}

img {
  display: block;
  margin: 0 auto;
  border: 15px solid rgba(5, 65, 5, 0.829);
}

h2 {
  color:rgba(5, 65, 5, 0.829);
  font-weight: 400;
  font-size: 55px;
} 


body {
  background-color:rgb(97, 120, 155);
}