h1 {
  color:rgba(5, 65, 5, 0.829);
  font-weight: 700;
  font-size: 90px;
  font-style:italic;
  text-align:center;
  list-style-image:-webkit-gradient(8);
  
}

body {
  background-color:rgb(97, 120, 155);
}