h1 {
  color:rgba(145, 51, 8, 0.829);
  font-weight: 700;
  font-size: 90px;
  font-family: sans-serif;
  text-align:center;
  list-style-image:;
  }

  img {
    display: block;
    margin: 0 auto;
    border: 15px solid rgba(145, 51, 8, 0.829);
  }
  
  h2 {
    color:rgba(145, 51, 8, 0.829);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 55px;
  } 